* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 960px;
  font-family: arial;
  font-size: 13px;
  background-color: Grey;

}
#container {
  margin: auto;
  width: 960px;
  background-color: Grey;

}
#forms {
  width: inherit;
}
form {
  background: #000;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: inherit;
  height: 7%;
}
form input {
  border: 5px;
  border-color: white;
  padding: 10px;
  width: 90%;
  margin-right: 0.5%;
}
form button {
   width: 9%;
   background: rgb(130, 224, 255);
   border: none;
   padding: 10px;
}
#messages {
  list-style-position: inside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 5px 10px;
}

#chatSpace {
  height:90%;
  width:65%;
  color: Black;
  border-color: grey;
  border-style: solid;
  border-bottom: 5px;
  background-color: inherit;
  overflow-y: scroll;
  float: left;
}
#usernames {
  background-color: Grey;
  height: 90%;
  width: 35%;
  float: right;
  overflow-y:hidden;
  color: black;
  text-align: center;
  list-style: none;
}
